.body-back{
    margin-top: 0;
    position: absolute;
    width: 100%;
    height: 86.7%;
    background: url('https://media.discordapp.net/attachments/989739661045940294/1091350291129044992/Abreth_flowerrs_water_paint_style_4k_splash_5f7e19eb-d844-4a13-9b03-76cdea61b48c.png?width=600&height=600');
    background-position: center;
    background-size: cover;
}

.yog{

    width: 100%;
    height: 60vh;
}

.yog .portfolio-description h2{
    color: #fff;
    font-size: 70px;
    text-align: center;
    align-items: center;
}

.yog .portfolio-description h2{
    color: #fff;
    margin-bottom: 100px;
}
.code-x{
    /* border: red 2px solid; */
    width: 140%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vxv:checked{
    color: yellow;
}
.vxv{
    color: red;
}
.v{
    color: yellow;
}
.vx{
    color: greenyellow;
}



.yog .portfolio-description .portfolio-social-icons{
    position: absolute;
    /* margin: 1.5% 40%; */
    text-align: center;
    /* margin-top: 10%; */
    bottom: 0;
    gap: 80px;
    /* border: 2px solid red; */
    width: 99%;
}
.portfolio-description .content{
    /* border: 2px solid red; */
    width: 50%;
    margin: 10px;
}
.portfolio-description p{
    width: 100%;
    color: #fff;
}